body{
	margin: 0;
	padding: 0;
}




#container_cart{
	margin: 0%;
	padding: 0%;
	border: 0%;
	height: 100vh;
	width: 100vw;
	background-color : #f1f3f3
    ;
	background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#headers{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: white;
	margin: 0%;
	padding: 0%;

}

.header-click{
display: flex;
justify-content: space-around;
margin-top: -1px;
}


#Cart{
	padding-right: 30%;
	margin-top: 25%;
	font-family:'IBM Plex Sans'
}


#book{
	padding-right: 35%;
	margin-top: 25%;
	margin-right: 60%;
	font-family:'IBM Plex Sans'
}

#ticketHack{
	color: #61b6a0;
	padding-left: 2%;
	font-family:'IBM Plex Sans';
}

#ticketHack:hover{
	color: #26C855;
}




#message{
	background-color: white;
	color:black;
    font-family:'IBM Plex Sans';
    height : 50vh;
    width : 60vw;
    border-radius : 10px; 
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

.message_in{
    margin : 5px;
    font-size: 16px;
    
}
.travel{
    background-color: #f1f3f3;
    height: 8vh;
    width: 50vw;
    border-radius: 5px;
    margin-bottom: 2vh ;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.trip{
    width: 12vw;
}


#Bookings{  
    padding-bottom: 2%
}

#message_2{
margin-bottom: 5%;
font-family: "IBM Plex Sans";
color: #61b6a0
}

#travelTable{
    overflow-y: auto;
}


A{
    text-decoration:none;
    color:#61b6a0 ;
}

.top{
    text-decoration: none;
    color: black;
}

.top:hover{
	color: #26C855;
}

